# SQL Practice on Employees Database

This notebook contains practice questions and exercises using a sample employees database. You can find some good questions to practice with at [w3resource](https://www.w3resource.com/sql-exercises/employee-database-exercise/sql-employee-database-exercise-1.php).

If you're interested in following along in your own Jupyter notebook (or making a copy of this one), you can read my guide on Medium – [How to run and analyse SQL queries in Pandas in Jupyter](https://medium.com/@corraljrmiguel/how-to-run-and-analyze-sql-queries-with-pandas-in-jupyter-7f02503cf46).

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Employees-Database-Schema" data-toc-modified-id="Employees-Database-Schema-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Employees Database Schema</a></span></li><li><span><a href="#Basics" data-toc-modified-id="Basics-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Basics</a></span><ul class="toc-item"><li><span><a href="#Select-all-the-rows-in-the-employees-table" data-toc-modified-id="Select-all-the-rows-in-the-employees-table-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Select all the rows in the employees table</a></span></li><li><span><a href="#Write-a-query-to-show-the-full-names-of-employees" data-toc-modified-id="Write-a-query-to-show-the-full-names-of-employees-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Write a query to show the full names of employees</a></span></li><li><span><a href="#Find-all-employees-who-are-also-managers" data-toc-modified-id="Find-all-employees-who-are-also-managers-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Find all employees who are also managers</a></span></li><li><span><a href="#Find-the-5th-highest-salary" data-toc-modified-id="Find-the-5th-highest-salary-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Find the 5th highest salary</a></span></li><li><span><a href="#Find-duplicate-rows-in-the-employees-table" data-toc-modified-id="Find-duplicate-rows-in-the-employees-table-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Find duplicate rows in the employees table</a></span></li><li><span><a href="#Show-unique-job-titles-per-department" data-toc-modified-id="Show-unique-job-titles-per-department-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Show unique job titles per department</a></span></li></ul></li><li><span><a href="#Aggregating" data-toc-modified-id="Aggregating-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Aggregating</a></span><ul class="toc-item"><li><span><a href="#Show-the-average-salaries-per-job-title" data-toc-modified-id="Show-the-average-salaries-per-job-title-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Show the average salaries per job title</a></span></li><li><span><a href="#Show-the-total-number-of-employees-per-job-title-and-the-percentage-of-the-total-per-title" data-toc-modified-id="Show-the-total-number-of-employees-per-job-title-and-the-percentage-of-the-total-per-title-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Show the total number of employees per job title and the percentage of the total per title</a></span></li><li><span><a href="#Group-employees-into-3-salary-groups" data-toc-modified-id="Group-employees-into-3-salary-groups-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Group employees into 3 salary groups</a></span></li></ul></li><li><span><a href="#Joining" data-toc-modified-id="Joining-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Joining</a></span><ul class="toc-item"><li><span><a href="#Show-all-employees-and-include-their-employee-id,-full-names,-job-titles,-and-the-department-name" data-toc-modified-id="Show-all-employees-and-include-their-employee-id,-full-names,-job-titles,-and-the-department-name-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Show all employees and include their employee id, full names, job titles, and the department name</a></span></li></ul></li></ul></div>

## Setup

In order to run SQL queries in a Jupyter notebook, you'll need to run the two cells below.

In [1]:
# load the ipython-sql extension
%load_ext sql

If you're using your own Jupyter notebook, you'll need to enter your own credentials.

In [2]:
import getpass
# define user & password
user = 'miguel'
password = getpass.getpass()
connection_string = f'mysql+pymysql://{user}:{password}@localhost:3306/employees'
%sql $connection_string

 ··················

'Connected: miguel@employees'

The configuration cell below is to simply limit the output to 10 rows.

In [3]:
%config SqlMagic.displaylimit=10

## Employees Database Schema

![schema](./img/employees-schema.png)

## Basics

### Select all the rows in the employees table

In [4]:
%%sql
SELECT * FROM employees;

 * mysql+pymysql://miguel:***@localhost:3306/employees
300024 rows affected.

[(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26)),
 (10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21)),
 (10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28)),
 (10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1)),
 (10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12)),
 (10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2)),
 (10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10)),
 (10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15)),
 (10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18)),
 (10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24)),
 (10011, datetime.date(1953, 11, 7), 'Mary', 'Sluis', 'F', datetime.date(1990, 1, 22)),
 (10012, datetime.date(1960, 10, 4), 'Patricio', 'Bridgland', 'M', datetime.date(1992, 12, 18)),
 (10013, datetime.date(1963, 6, 7), 'Eberhardt', 'Terkki', 'M', datetime.date(1985, 10, 20)),
 (10014, datetime.date(1956, 2, 12), 'Berni', 'Genin', 'M', datetime.date(1987, 3, 11)),
 (10015, datetime.date(1959, 8, 19), 'Guoxiang', 'Nooteboom', 'M', datetime.date(1987, 7, 2)),
 (10016, datetime.date(1961, 5, 2), 'Kazuhito', 'Cappelletti', 'M', datetime.date(1995, 1, 27)),
 (10017, datetime.date(1958, 7, 6), 'Cristinel', 'Bouloucos', 'F', datetime.date(1993, 8, 3)),
 (10018, datetime.date(1954, 6, 19), 'Kazuhide', 'Peha', 'F', datetime.date(1987, 4, 3)),
 (10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30)),
 (10020, datetime.date(1952, 12, 24), 'Mayuko', 'Warwick', 'M', datetime.date(1991, 1, 26)),
 (10021, datetime.date(1960, 2, 20), 'Ramzi', 'Erde', 'M', datetime.date(1988, 2, 10)),
 (10022, datetime.date(1952, 7, 8), 'Shahaf', 'Famili', 'M', datetime.date(1995, 8, 22)),
 (10023, datetime.date(1953, 9, 29), 'Bojan', 'Montemayor', 'F', datetime.date(1989, 12, 17)),
 (10024, datetime.date(1958, 9, 5), 'Suzette', 'Pettey', 'F', datetime.date(1997, 5, 19)),
 (10025, datetime.date(1958, 10, 31), 'Prasadram', 'Heyers', 'M', datetime.date(1987, 8, 17)),
 (10026, datetime.date(1953, 4, 3), 'Yongqiao', 'Berztiss', 'M', datetime.date(1995, 3, 20)),
 (10027, datetime.date(1962, 7, 10), 'Divier', 'Reistad', 'F', datetime.date(1989, 7, 7)),
 (10028, datetime.date(1963, 11, 26), 'Domenick', 'Tempesti', 'M', datetime.date(1991, 10, 22)),
 (10029, datetime.date(1956, 12, 13), 'Otmar', 'Herbst', 'M', datetime.date(1985, 11, 20)),
 (10030, datetime.date(1958, 7, 14), 'Elvis', 'Demeyer', 'M', datetime.date(1994, 2, 17)),
 (10031, datetime.date(1959, 1, 27), 'Karsten', 'Joslin', 'M', datetime.date(1991, 9, 1)),
 (10032, datetime.date(1960, 8, 9), 'Jeong', 'Reistad', 'F', datetime.date(1990, 6, 20)),
 (10033, datetime.date(1956, 11, 14), 'Arif', 'Merlo', 'M', datetime.date(1987, 3, 18)),
 (10034, datetime.date(1962, 12, 29), 'Bader', 'Swan', 'M', datetime.date(1988, 9, 21)),
 (10035, datetime.date(1953, 2, 8), 'Alain', 'Chappelet', 'M', datetime.date(1988, 9, 5)),
 (10036, datetime.date(1959, 8, 10), 'Adamantios', 'Portugali', 'M', datetime.date(1992, 1, 3)),
 (10037, datetime.date(1963, 7, 22), 'Pradeep', 'Makrucki', 'M', datetime.date(1990, 12, 5)),
 (10038, datetime.date(1960, 7, 20), 'Huan', 'Lortz', 'M', datetime.date(1989, 9, 20)),
 (10039, datetime.date(1959, 10, 1), 'Alejandro', 'Brender', 'M', datetime.date(1988, 1, 19)),
 (10040, datetime.date(1959, 9, 13), 'Weiyi', 'Meriste', 'F', datetime.date(1993, 2, 14)),
 (10041, datetime.date(1959, 8, 27), 'Uri', 'Lenart', 'F', datetime.date(1989, 11, 12)),
 (10042, datetime.date(1956, 2, 26), 'Magy', 'Stamatiou', 'F', datetime.date(1993, 3, 21)),
 (10043, datetime.date(1960, 9, 19), 'Yishay', 'Tzvieli', 'M', datetime.date(1990, 10, 20)),
 (10044, datetime.date(1961, 9, 21), 'Mingsen', 'Casley', 'F', datetime.date(1994, 5, 21)),
 (10045, datetime.date(1957, 8, 14), 'Moss', 'Shanbhogue', 'M', datetime.date(1989, 9, 2)),
 (10046, datetime.date(1960, 7, 23), 'Lucien', 'Rosenbaum', 'M', datetime.date(1992, 6, 20)),
 (10047, datetime.date(1952, 6, 29), 'Zvonko', 'Nyanchama', 'M', datetime.date(1989, 3, 31)),
 (10048, datetime.date(1963, 7, 11), 'Florian', 'Syrotiuk', 'M', datetime.date(1985, 2, 24)),
 (10049, datetime.date(1961, 4, 24), 'Basil', 'Tramer', 'F', datetime.date(1992, 5, 4)),
 (10050, datetime.date(1958, 5, 21), 'Yinghua', 'Dredge', 'M', datetime.date(1990, 12, 25)),
 (10051, datetime.date(1953, 7, 28), 'Hidefumi', 'Caine', 'M', datetime.date(1992, 10, 15)),
 (10052, datetime.date(1961, 2, 26), 'Heping', 'Nitsch', 'M', datetime.date(1988, 5, 21)),
 (10053, datetime.date(1954, 9, 13), 'Sanjiv', 'Zschoche', 'F', datetime.date(1986, 2, 4)),
 (10054, datetime.date(1957, 4, 4), 'Mayumi', 'Schueller', 'M', datetime.date(1995, 3, 13)),
 (10055, datetime.date(1956, 6, 6), 'Georgy', 'Dredge', 'M', datetime.date(1992, 4, 27)),
 (10056, datetime.date(1961, 9, 1), 'Brendon', 'Bernini', 'F', datetime.date(1990, 2, 1)),
 (10057, datetime.date(1954, 5, 30), 'Ebbe', 'Callaway', 'F', datetime.date(1992, 1, 15)),
 (10058, datetime.date(1954, 10, 1), 'Berhard', 'McFarlin', 'M', datetime.date(1987, 4, 13)),
 (10059, datetime.date(1953, 9, 19), 'Alejandro', 'McAlpine', 'F', datetime.date(1991, 6, 26)),
 (10060, datetime.date(1961, 10, 15), 'Breannda', 'Billingsley', 'M', datetime.date(1987, 11, 2)),
 (10061, datetime.date(1962, 10, 19), 'Tse', 'Herber', 'M', datetime.date(1985, 9, 17)),
 (10062, datetime.date(1961, 11, 2), 'Anoosh', 'Peyn', 'M', datetime.date(1991, 8, 30)),
 (10063, datetime.date(1952, 8, 6), 'Gino', 'Leonhardt', 'F', datetime.date(1989, 4, 8)),
 (10064, datetime.date(1959, 4, 7), 'Udi', 'Jansch', 'M', datetime.date(1985, 11, 20)),
 (10065, datetime.date(1963, 4, 14), 'Satosi', 'Awdeh', 'M', datetime.date(1988, 5, 18)),
 (10066, datetime.date(1952, 11, 13), 'Kwee', 'Schusler', 'M', datetime.date(1986, 2, 26)),
 (10067, datetime.date(1953, 1, 7), 'Claudi', 'Stavenow', 'M', datetime.date(1987, 3, 4)),
 (10068, datetime.date(1962, 11, 26), 'Charlene', 'Brattka', 'M', datetime.date(1987, 8, 7)),
 (10069, datetime.date(1960, 9, 6), 'Margareta', 'Bierman', 'F', datetime.date(1989, 11, 5)),
 (10070, datetime.date(1955, 8, 20), 'Reuven', 'Garigliano', 'M', datetime.date(1985, 10, 14)),
 (10071, datetime.date(1958, 1, 21), 'Hisao', 'Lipner', 'M', datetime.date(1987, 10, 1)),
 (10072, datetime.date(1952, 5, 15), 'Hironoby', 'Sidou', 'F', datetime.date(1988, 7, 21)),
 (10073, datetime.date(1954, 2, 23), 'Shir', 'McClurg', 'M', datetime.date(1991, 12, 1)),
 (10074, datetime.date(1955, 8, 28), 'Mokhtar', 'Bernatsky', 'F', datetime.date(1990, 8, 13)),
 (10075, datetime.date(1960, 3, 9), 'Gao', 'Dolinsky', 'F', datetime.date(1987, 3, 19)),
 (10076, datetime.date(1952, 6, 13), 'Erez', 'Ritzmann', 'F', datetime.date(1985, 7, 9)),
 (10077, datetime.date(1964, 4, 18), 'Mona', 'Azuma', 'M', datetime.date(1990, 3, 2)),
 (10078, datetime.date(1959, 12, 25), 'Danel', 'Mondadori', 'F', datetime.date(1987, 5, 26)),
 (10079, datetime.date(1961, 10, 5), 'Kshitij', 'Gils', 'F', datetime.date(1986, 3, 27)),
 (10080, datetime.date(1957, 12, 3), 'Premal', 'Baek', 'M', datetime.date(1985, 11, 19)),
 (10081, datetime.date(1960, 12, 17), 'Zhongwei', 'Rosen', 'M', datetime.date(1986, 10, 30)),
 (10082, datetime.date(1963, 9, 9), 'Parviz', 'Lortz', 'M', datetime.date(1990, 1, 3)),
 (10083, datetime.date(1959, 7, 23), 'Vishv', 'Zockler', 'M', datetime.date(1987, 3, 31)),
 (10084, datetime.date(1960, 5, 25), 'Tuval', 'Kalloufi', 'M', datetime.date(1995, 12, 15)),
 (10085, datetime.date(1962, 11, 7), 'Kenroku', 'Malabarba', 'M', datetime.date(1994, 4, 9)),
 (10086, datetime.date(1962, 11, 19), 'Somnath', 'Foote', 'M', datetime.date(1990, 2, 16)),
 (10087, datetime.date(1959, 7, 23), 'Xinglin', 'Eugenio', 'F', datetime.date(1986, 9, 8)),
 (10088, datetime.date(1954, 2, 25), 'Jungsoon', 'Syrzycki', 'F', datetime.date(1988, 9, 2)),
 (10089, datetime.date(1963, 3, 21), 'Sudharsan', 'Flasterstein', 'F', datetime.date(1986, 8, 12)),
 (10090, datetime.date(1961, 5, 30), 'Kendra', 'Hofting', 'M', datetime.date(1986, 3, 14)),
 (10091, datetime.date(1955, 10, 4), 'Amabile', 'Gomatam', 'M', datetime.date(1992, 11, 18)),
 (10092, datetime.date(1964, 10, 18), 'Valdiodio', 'Niizuma', 'F', datetime.date(1989, 9, 22)),
 (10093, datetime.date(1964, 6, 11), 'Sailaja', 'Desikan', 'M', datetime.date(1996, 11, 5)),
 (10094, datetime.date(1957, 5, 25), 'Arumugam', 'Ossenbruggen', 'F', datetime.date(1987, 4, 18)),
 (10095, datetime.date(1965, 1, 3), 'Hilari', 'Morton', 'M', datetime.date(1986, 7, 15)),
 (10096, datetime.date(1954, 9, 16), 'Jayson', 'Mandell', 'M', datetime.date(1990, 1, 14)),
 (10097, datetime.date(1952, 2, 27), 'Remzi', 'Waschkowski', 'M', datetime.date(1990, 9, 15)),
 (10098, datetime.date(1961, 9, 23), 'Sreekrishna', 'Servieres', 'F', datetime.date(1985, 5, 13)),
 (10099, datetime.date(1956, 5, 25), 'Valter', 'Sullins', 'F', datetime.date(1988, 10, 18)),
 (10100, datetime.date(1953, 4, 21), 'Hironobu', 'Haraldson', 'F', datetime.date(1987, 9, 21)),
 (10101, datetime.date(1952, 4, 15), 'Perla', 'Heyers', 'F', datetime.date(1992, 12, 28)),
 (10102, datetime.date(1959, 11, 4), 'Paraskevi', 'Luby', 'F', datetime.date(1994, 1, 26)),
 (10103, datetime.date(1953, 11, 26), 'Akemi', 'Birch', 'M', datetime.date(1986, 12, 2)),
 (10104, datetime.date(1961, 11, 19), 'Xinyu', 'Warwick', 'M', datetime.date(1987, 4, 16)),
 (10105, datetime.date(1962, 2, 5), 'Hironoby', 'Piveteau', 'M', datetime.date(1999, 3, 23)),
 (10106, datetime.date(1952, 8, 29), 'Eben', 'Aingworth', 'M', datetime.date(1990, 12, 19)),
 (10107, datetime.date(1956, 6, 13), 'Dung', 'Baca', 'F', datetime.date(1994, 3, 22)),
 (10108, datetime.date(1952, 4, 7), 'Lunjin', 'Giveon', 'M', datetime.date(1986, 10, 2)),
 (10109, datetime.date(1958, 11, 25), 'Mariusz', 'Prampolini', 'F', datetime.date(1993, 6, 16)),
 (10110, datetime.date(1957, 3, 7), 'Xuejia', 'Ullian', 'F', datetime.date(1986, 8, 22)),
 (10111, datetime.date(1963, 8, 29), 'Hugo', 'Rosis', 'F', datetime.date(1988, 6, 19)),
 (10112, datetime.date(1963, 8, 13), 'Yuichiro', 'Swick', 'F', datetime.date(1985, 10, 8)),
 (10113, datetime.date(1963, 11, 13), 'Jaewon', 'Syrzycki', 'M', datetime.date(1989, 12, 24)),
 (10114, datetime.date(1957, 2, 16), 'Munir', 'Demeyer', 'F', datetime.date(1992, 7, 17)),
 (10115, datetime.date(1964, 12, 25), 'Chikara', 'Rissland', 'M', datetime.date(1986, 1, 23)),
 (10116, datetime.date(1955, 8, 26), 'Dayanand', 'Czap', 'F', datetime.date(1985, 5, 28)),
 (10117, datetime.date(1961, 10, 24), 'Kiyotoshi', 'Blokdijk', 'F', datetime.date(1990, 5, 28)),
 (10118, datetime.date(1957, 3, 29), 'Zhonghui', 'Zyda', 'F', datetime.date(1990, 9, 13)),
 (10119, datetime.date(1960, 12, 1), 'Domenick', 'Peltason', 'M', datetime.date(1986, 3, 14)),
 (10120, datetime.date(1960, 3, 26), 'Armond', 'Fairtlough', 'F', datetime.date(1996, 7, 6)),
 (10121, datetime.date(1962, 7, 14), 'Guoxiang', 'Ramsay', 'M', datetime.date(1989, 5, 3)),
 (10122, datetime.date(1965, 1, 19), 'Ohad', 'Esposito', 'M', datetime.date(1992, 12, 23)),
 (10123, datetime.date(1962, 5, 12), 'Hinrich', 'Randi', 'M', datetime.date(1993, 1, 15)),
 (10124, datetime.date(1962, 5, 23), 'Geraldo', 'Marwedel', 'M', datetime.date(1991, 9, 5)),
 (10125, datetime.date(1957, 9, 13), 'Syozo', 'Hiltgen', 'F', datetime.date(1990, 10, 26)),
 (10126, datetime.date(1954, 8, 7), 'Kayoko', 'Valtorta', 'M', datetime.date(1985, 9, 8)),
 (10127, datetime.date(1952, 2, 24), 'Subir', 'Baja', 'F', datetime.date(1989, 1, 14)),
 (10128, datetime.date(1958, 2, 15), 'Babette', 'Lamba', 'F', datetime.date(1988, 6, 6)),
 (10129, datetime.date(1955, 12, 2), 'Armond', 'Peir', 'M', datetime.date(1985, 12, 10)),
 (10130, datetime.date(1955, 4, 27), 'Nishit', 'Casperson', 'M', datetime.date(1988, 6, 21)),
 (10131, datetime.date(1952, 2, 19), 'Magdalena', 'Eldridge', 'M', datetime.date(1994, 11, 17)),
 (10132, datetime.date(1956, 12, 15), 'Ayakannu', 'Skrikant', 'M', datetime.date(1994, 10, 30)),
 (10133, datetime.date(1963, 12, 12), 'Giri', 'Isaak', 'M', datetime.date(1985, 12, 15)),
 (10134, datetime.date(1953, 4, 15), 'Diederik', 'Siprelle', 'M', datetime.date(1987, 12, 12)),
 (10135, datetime.date(1956, 12, 23), 'Nathan', 'Monkewich', 'M', datetime.date(1988, 2, 19)),
 (10136, datetime.date(1961, 9, 14), 'Zissis', 'Pintelas', 'M', datetime.date(1986, 2, 11)),
 (10137, datetime.date(1959, 7, 30), 'Maren', 'Hutton', 'M', datetime.date(1985, 2, 18)),
 (10138, datetime.date(1955, 4, 24), 'Perry', 'Shimshoni', 'M', datetime.date(1986, 9, 18)),
 (10139, datetime.date(1963, 3, 3), 'Ewing', 'Foong', 'F', datetime.date(1998, 3, 15)),
 (10140, datetime.date(1957, 3, 11), 'Yucel', 'Auria', 'F', datetime.date(1991, 3, 14)),
 (10141, datetime.date(1960, 1, 17), 'Shahaf', 'Ishibashi', 'F', datetime.date(1993, 5, 6)),
 (10142, datetime.date(1956, 8, 29), 'Tzvetan', 'Hettesheimer', 'M', datetime.date(1993, 10, 28)),
 (10143, datetime.date(1961, 7, 16), 'Sakthirel', 'Bakhtari', 'M', datetime.date(1988, 9, 30)),
 (10144, datetime.date(1959, 6, 17), 'Marla', 'Brendel', 'M', datetime.date(1985, 10, 14)),
 (10145, datetime.date(1956, 3, 30), 'Akemi', 'Esposito', 'F', datetime.date(1987, 8, 1)),
 (10146, datetime.date(1959, 1, 12), 'Chenyi', 'Syang', 'M', datetime.date(1988, 6, 28)),
 (10147, datetime.date(1964, 10, 13), 'Kazuhito', 'Encarnacion', 'M', datetime.date(1986, 8, 21)),
 (10148, datetime.date(1957, 10, 4), 'Douadi', 'Azumi', 'M', datetime.date(1995, 10, 10)),
 (10149, datetime.date(1953, 5, 20), 'Xiadong', 'Perry', 'F', datetime.date(1986, 11, 5)),
 (10150, datetime.date(1955, 1, 29), 'Zhenbing', 'Perng', 'F', datetime.date(1986, 11, 16)),
 (10151, datetime.date(1959, 3, 6), 'Itzchak', 'Lichtner', 'M', datetime.date(1990, 4, 10)),
 (10152, datetime.date(1954, 12, 1), 'Jaques', 'Munro', 'F', datetime.date(1986, 1, 27)),
 (10153, datetime.date(1955, 12, 15), 'Heekeun', 'Majewski', 'M', datetime.date(1987, 4, 8)),
 (10154, datetime.date(1957, 1, 17), 'Abdulah', 'Thibadeau', 'F', datetime.date(1990, 12, 12)),
 (10155, datetime.date(1959, 12, 7), 'Adas', 'Nastansky', 'M', datetime.date(1990, 1, 5)),
 (10156, datetime.date(1964, 9, 19), 'Sumali', 'Fargier', 'M', datetime.date(1985, 3, 10)),
 (10157, datetime.date(1954, 4, 23), 'Nigel', 'Aloisi', 'M', datetime.date(1985, 11, 2)),
 (10158, datetime.date(1958, 4, 1), 'Khedija', 'Mitsuhashi', 'M', datetime.date(1986, 1, 29)),
 (10159, datetime.date(1955, 3, 3), 'Serif', 'Buescher', 'M', datetime.date(1991, 5, 29)),
 (10160, datetime.date(1953, 10, 18), 'Debatosh', 'Khasidashvili', 'M', datetime.date(1989, 1, 30)),
 (10161, datetime.date(1953, 4, 6), 'Hairong', 'Mellouli', 'F', datetime.date(1988, 4, 3)),
 (10162, datetime.date(1957, 10, 5), 'Florina', 'Eugenio', 'M', datetime.date(1991, 5, 1)),
 (10163, datetime.date(1952, 9, 17), 'Karsten', 'Szmurlo', 'M', datetime.date(1989, 7, 19)),
 (10164, datetime.date(1956, 1, 19), 'Jagoda', 'Braunmuhl', 'M', datetime.date(1985, 11, 12)),
 (10165, datetime.date(1960, 6, 16), 'Miyeon', 'Macedo', 'M', datetime.date(1988, 5, 17)),
 (10166, datetime.date(1953, 5, 10), 'Samphel', 'Siegrist', 'F', datetime.date(1993, 1, 1)),
 (10167, datetime.date(1958, 5, 23), 'Duangkaew', 'Rassart', 'M', datetime.date(1992, 4, 4)),
 (10168, datetime.date(1964, 9, 11), 'Dharmaraja', 'Stassinopoulos', 'M', datetime.date(1986, 12, 6)),
 (10169, datetime.date(1961, 5, 3), 'Sampalli', 'Snedden', 'F', datetime.date(1992, 7, 24)),
 (10170, datetime.date(1960, 10, 3), 'Kasturi', 'Jenevein', 'F', datetime.date(1986, 1, 2)),
 (10171, datetime.date(1957, 9, 11), 'Herbert', 'Trachtenberg', 'M', datetime.date(1989, 7, 22)),
 (10172, datetime.date(1957, 3, 25), 'Shigeu', 'Matzen', 'F', datetime.date(1995, 10, 13)),
 (10173, datetime.date(1962, 10, 28), 'Shrikanth', 'Mahmud', 'M', datetime.date(1992, 3, 21)),
 (10174, datetime.date(1959, 5, 15), 'Badri', 'Furudate', 'M', datetime.date(1987, 6, 1)),
 (10175, datetime.date(1960, 1, 11), 'Aleksandar', 'Ananiadou', 'F', datetime.date(1988, 1, 11)),
 (10176, datetime.date(1957, 1, 24), 'Brendon', 'Lenart', 'F', datetime.date(1994, 12, 22)),
 (10177, datetime.date(1954, 11, 8), 'Pragnesh', 'Iisaka', 'M', datetime.date(1993, 2, 6)),
 (10178, datetime.date(1963, 3, 13), 'Valery', 'Litvinov', 'M', datetime.date(1986, 10, 7)),
 (10179, datetime.date(1961, 11, 25), 'Deniz', 'Duclos', 'F', datetime.date(1990, 10, 4)),
 (10180, datetime.date(1956, 1, 29), 'Shaw', 'Wendorf', 'M', datetime.date(1986, 2, 25)),
 (10181, datetime.date(1963, 1, 22), 'Sibyl', 'Nooteboom', 'M', datetime.date(1988, 6, 22)),
 (10182, datetime.date(1961, 2, 4), 'Moriyoshi', 'Merey', 'F', datetime.date(1990, 9, 2)),
 (10183, datetime.date(1954, 10, 17), 'Mechthild', 'Bonifati', 'M', datetime.date(1996, 8, 11)),
 (10184, datetime.date(1957, 5, 22), 'Mihalis', 'Lowrie', 'M', datetime.date(1987, 10, 29)),
 (10185, datetime.date(1959, 12, 5), 'Duro', 'Sidhu', 'F', datetime.date(1986, 3, 1)),
 (10186, datetime.date(1953, 7, 16), 'Shigehito', 'Kropatsch', 'M', datetime.date(1986, 3, 28)),
 (10187, datetime.date(1961, 5, 26), 'Tommaso', 'Narwekar', 'F', datetime.date(1991, 6, 1)),
 (10188, datetime.date(1956, 7, 13), 'Christ', 'Muchinsky', 'F', datetime.date(1987, 8, 27)),
 (10189, datetime.date(1955, 11, 12), 'Khalid', 'Erva', 'M', datetime.date(1989, 10, 5)),
 (10190, datetime.date(1964, 12, 11), 'Arve', 'Fairtlough', 'F', datetime.date(1986, 6, 23)),
 (10191, datetime.date(1959, 4, 8), 'Zdislav', 'Nastansky', 'M', datetime.date(1986, 4, 10)),
 (10192, datetime.date(1960, 9, 16), 'Mohua', 'Falck', 'M', datetime.date(1988, 6, 13)),
 (10193, datetime.date(1960, 6, 29), 'Masaru', 'Cheshire', 'M', datetime.date(1991, 7, 28)),
 (10194, datetime.date(1954, 1, 29), 'Josyula', 'Hofmeyr', 'F', datetime.date(1989, 5, 15)),
 (10195, datetime.date(1963, 11, 13), 'Annemarie', 'Redmiles', 'M', datetime.date(1985, 2, 15)),
 (10196, datetime.date(1954, 1, 27), 'Marc', 'Hellwagner', 'M', datetime.date(1994, 11, 16)),
 (10197, datetime.date(1963, 8, 6), 'Kasidit', 'Krzyzanowski', 'F', datetime.date(1993, 11, 22)),
 (10198, datetime.date(1953, 5, 28), 'Pranav', 'Furedi', 'M', datetime.date(1985, 8, 31)),
 (10199, datetime.date(1959, 4, 7), 'Kazuhisa', 'Ranta', 'M', datetime.date(1997, 4, 29)),
 (10200, datetime.date(1961, 12, 31), 'Vidya', 'Awdeh', 'M', datetime.date(1985, 10, 16)),
 (10201, datetime.date(1956, 12, 15), 'Idoia', 'Kavraki', 'F', datetime.date(1986, 11, 22)),
 (10202, datetime.date(1956, 1, 5), 'Greger', 'Lichtner', 'M', datetime.date(1991, 10, 6)),
 (10203, datetime.date(1955, 7, 27), 'Steen', 'Escriba', 'M', datetime.date(1989, 4, 6)),
 (10204, datetime.date(1956, 12, 9), 'Nevio', 'Ritcey', 'F', datetime.date(1986, 12, 4)),
 (10205, datetime.date(1953, 5, 20), 'Mabhin', 'Leijenhorst', 'F', datetime.date(1993, 8, 23)),
 (10206, datetime.date(1960, 9, 19), 'Alassane', 'Iwayama', 'F', datetime.date(1988, 4, 19)),
 (10207, datetime.date(1955, 5, 28), 'Girolamo', 'Anandan', 'F', datetime.date(1992, 10, 11)),
 (10208, datetime.date(1960, 1, 2), 'Xiping', 'Klerer', 'M', datetime.date(1991, 12, 23)),
 (10209, datetime.date(1956, 12, 12), 'Yolla', 'Ellozy', 'F', datetime.date(1991, 11, 23)),
 (10210, datetime.date(1958, 1, 24), 'Yuping', 'Alpin', 'M', datetime.date(1994, 5, 10)),
 (10211, datetime.date(1964, 8, 5), 'Vishu', 'Strehl', 'F', datetime.date(1989, 11, 18)),
 (10212, datetime.date(1959, 5, 9), 'Divier', 'Esteva', 'M', datetime.date(1990, 7, 11)),
 (10213, datetime.date(1964, 5, 24), 'Jackson', 'Kakkad', 'M', datetime.date(1992, 11, 6)),
 (10214, datetime.date(1962, 4, 14), 'Tadahiko', 'Ciolek', 'M', datetime.date(1988, 2, 29)),
 (10215, datetime.date(1954, 4, 2), 'Xiaobin', 'Duclos', 'M', datetime.date(1987, 10, 19)),

### Write a query to show the full names of employees

In [5]:
%%sql
SELECT CONCAT(first_name, ' ', last_name) AS emp_name
FROM employees;

 * mysql+pymysql://miguel:***@localhost:3306/employees
300024 rows affected.

[('Georgi Facello',),
 ('Bezalel Simmel',),
 ('Parto Bamford',),
 ('Chirstian Koblick',),
 ('Kyoichi Maliniak',),
 ('Anneke Preusig',),
 ('Tzvetan Zielinski',),
 ('Saniya Kalloufi',),
 ('Sumant Peac',),
 ('Duangkaew Piveteau',),
 ('Mary Sluis',),
 ('Patricio Bridgland',),
 ('Eberhardt Terkki',),
 ('Berni Genin',),
 ('Guoxiang Nooteboom',),
 ('Kazuhito Cappelletti',),
 ('Cristinel Bouloucos',),
 ('Kazuhide Peha',),
 ('Lillian Haddadi',),
 ('Mayuko Warwick',),
 ('Ramzi Erde',),
 ('Shahaf Famili',),
 ('Bojan Montemayor',),
 ('Suzette Pettey',),
 ('Prasadram Heyers',),
 ('Yongqiao Berztiss',),
 ('Divier Reistad',),
 ('Domenick Tempesti',),
 ('Otmar Herbst',),
 ('Elvis Demeyer',),
 ('Karsten Joslin',),
 ('Jeong Reistad',),
 ('Arif Merlo',),
 ('Bader Swan',),
 ('Alain Chappelet',),
 ('Adamantios Portugali',),
 ('Pradeep Makrucki',),
 ('Huan Lortz',),
 ('Alejandro Brender',),
 ('Weiyi Meriste',),
 ('Uri Lenart',),
 ('Magy Stamatiou',),
 ('Yishay Tzvieli',),
 ('Mingsen Casley',),
 ('Moss Shanbhogue',),
 ('Lucien Rosenbaum',),
 ('Zvonko Nyanchama',),
 ('Florian Syrotiuk',),
 ('Basil Tramer',),
 ('Yinghua Dredge',),
 ('Hidefumi Caine',),
 ('Heping Nitsch',),
 ('Sanjiv Zschoche',),
 ('Mayumi Schueller',),
 ('Georgy Dredge',),
 ('Brendon Bernini',),
 ('Ebbe Callaway',),
 ('Berhard McFarlin',),
 ('Alejandro McAlpine',),
 ('Breannda Billingsley',),
 ('Tse Herber',),
 ('Anoosh Peyn',),
 ('Gino Leonhardt',),
 ('Udi Jansch',),
 ('Satosi Awdeh',),
 ('Kwee Schusler',),
 ('Claudi Stavenow',),
 ('Charlene Brattka',),
 ('Margareta Bierman',),
 ('Reuven Garigliano',),
 ('Hisao Lipner',),
 ('Hironoby Sidou',),
 ('Shir McClurg',),
 ('Mokhtar Bernatsky',),
 ('Gao Dolinsky',),
 ('Erez Ritzmann',),
 ('Mona Azuma',),
 ('Danel Mondadori',),
 ('Kshitij Gils',),
 ('Premal Baek',),
 ('Zhongwei Rosen',),
 ('Parviz Lortz',),
 ('Vishv Zockler',),
 ('Tuval Kalloufi',),
 ('Kenroku Malabarba',),
 ('Somnath Foote',),
 ('Xinglin Eugenio',),
 ('Jungsoon Syrzycki',),
 ('Sudharsan Flasterstein',),
 ('Kendra Hofting',),
 ('Amabile Gomatam',),
 ('Valdiodio Niizuma',),
 ('Sailaja Desikan',),
 ('Arumugam Ossenbruggen',),
 ('Hilari Morton',),
 ('Jayson Mandell',),
 ('Remzi Waschkowski',),
 ('Sreekrishna Servieres',),
 ('Valter Sullins',),
 ('Hironobu Haraldson',),
 ('Perla Heyers',),
 ('Paraskevi Luby',),
 ('Akemi Birch',),
 ('Xinyu Warwick',),
 ('Hironoby Piveteau',),
 ('Eben Aingworth',),
 ('Dung Baca',),
 ('Lunjin Giveon',),
 ('Mariusz Prampolini',),
 ('Xuejia Ullian',),
 ('Hugo Rosis',),
 ('Yuichiro Swick',),
 ('Jaewon Syrzycki',),
 ('Munir Demeyer',),
 ('Chikara Rissland',),
 ('Dayanand Czap',),
 ('Kiyotoshi Blokdijk',),
 ('Zhonghui Zyda',),
 ('Domenick Peltason',),
 ('Armond Fairtlough',),
 ('Guoxiang Ramsay',),
 ('Ohad Esposito',),
 ('Hinrich Randi',),
 ('Geraldo Marwedel',),
 ('Syozo Hiltgen',),
 ('Kayoko Valtorta',),
 ('Subir Baja',),
 ('Babette Lamba',),
 ('Armond Peir',),
 ('Nishit Casperson',),
 ('Magdalena Eldridge',),
 ('Ayakannu Skrikant',),
 ('Giri Isaak',),
 ('Diederik Siprelle',),
 ('Nathan Monkewich',),
 ('Zissis Pintelas',),
 ('Maren Hutton',),
 ('Perry Shimshoni',),
 ('Ewing Foong',),
 ('Yucel Auria',),
 ('Shahaf Ishibashi',),
 ('Tzvetan Hettesheimer',),
 ('Sakthirel Bakhtari',),
 ('Marla Brendel',),
 ('Akemi Esposito',),
 ('Chenyi Syang',),
 ('Kazuhito Encarnacion',),
 ('Douadi Azumi',),
 ('Xiadong Perry',),
 ('Zhenbing Perng',),
 ('Itzchak Lichtner',),
 ('Jaques Munro',),
 ('Heekeun Majewski',),
 ('Abdulah Thibadeau',),
 ('Adas Nastansky',),
 ('Sumali Fargier',),
 ('Nigel Aloisi',),
 ('Khedija Mitsuhashi',),
 ('Serif Buescher',),
 ('Debatosh Khasidashvili',),
 ('Hairong Mellouli',),
 ('Florina Eugenio',),
 ('Karsten Szmurlo',),
 ('Jagoda Braunmuhl',),
 ('Miyeon Macedo',),
 ('Samphel Siegrist',),
 ('Duangkaew Rassart',),
 ('Dharmaraja Stassinopoulos',),
 ('Sampalli Snedden',),
 ('Kasturi Jenevein',),
 ('Herbert Trachtenberg',),
 ('Shigeu Matzen',),
 ('Shrikanth Mahmud',),
 ('Badri Furudate',),
 ('Aleksandar Ananiadou',),
 ('Brendon Lenart',),
 ('Pragnesh Iisaka',),
 ('Valery Litvinov',),
 ('Deniz Duclos',),
 ('Shaw Wendorf',),
 ('Sibyl Nooteboom',),
 ('Moriyoshi Merey',),
 ('Mechthild Bonifati',),
 ('Mihalis Lowrie',),
 ('Duro Sidhu',),
 ('Shigehito Kropatsch',),
 ('Tommaso Narwekar',),
 ('Christ Muchinsky',),
 ('Khalid Erva',),
 ('Arve Fairtlough',),
 ('Zdislav Nastansky',),
 ('Mohua Falck',),
 ('Masaru Cheshire',),
 ('Josyula Hofmeyr',),
 ('Annemarie Redmiles',),
 ('Marc Hellwagner',),
 ('Kasidit Krzyzanowski',),
 ('Pranav Furedi',),
 ('Kazuhisa Ranta',),
 ('Vidya Awdeh',),
 ('Idoia Kavraki',),
 ('Greger Lichtner',),
 ('Steen Escriba',),
 ('Nevio Ritcey',),
 ('Mabhin Leijenhorst',),
 ('Alassane Iwayama',),
 ('Girolamo Anandan',),
 ('Xiping Klerer',),
 ('Yolla Ellozy',),
 ('Yuping Alpin',),
 ('Vishu Strehl',),
 ('Divier Esteva',),
 ('Jackson Kakkad',),
 ('Tadahiko Ciolek',),
 ('Xiaobin Duclos',),
 ('Amstein Ghemri',),
 ('Yongmin Roison',),
 ('Zhenhua Magalhaes',),
 ('Genta Kolvik',),
 ('Kish Fasbender',),
 ('Yucai Granlund',),
 ('Tze Nourani',),
 ('Carrsten Schmiedel',),
 ('Leon Trogemann',),
 ('Kellie Chinen',),
 ('Xinglin Plessier',),
 ('Anneli Kaiser',),
 ('Karoline Cesareni',),
 ('Ulises Takanami',),
 ('Clyde Vernadat',),
 ('Shaowen Desikan',),
 ('Marko Auria',),
 ('Lein Vendrig',),
 ('Arunachalam Bakhtari',),
 ('Susanta Roccetti',),
 ('Susumu Bade',),
 ('Yannis Mandell',),
 ('Mototsugu Gire',),
 ('Nikolaos Llado',),
 ('Remko Maccarone',),
 ('Ortrud Murillo',),
 ('Lunjin Ozeri',),
 ('Wonhee Pouyioutas',),
 ('Foong Flasterstein',),
 ('Ramalingam Gente',),
 ('Basem Teitelbaum',),
 ('Heon Riefers',),
 ('Frederique Tempesti',),
 ('Marie Boreale',),
 ('Serap Etalle',),
 ('Alair Rosenbaum',),
 ('Shirish Wegerle',),
 ('Zsolt Salinas',),
 ('Shen Brattka',),
 ('Roddy Garnick',),
 ('Irene Radhakrishnan',),
 ('Aiman Riexinger',),
 ('Basil Ishibashi',),
 ('Susanna Vesel',),
 ('Alper Suomi',),
 ('Mang Erie',),
 ('Mahendra Maraist',),
 ('Takahiro Waterhouse',),
 ('Nalini Kawashimo',),
 ('Ramalingam Muniz',),
 ('Sukumar Rassart',),
 ('Shaunak Cullers',),
 ('Nishit Siochi',),
 ('Taizo Oxman',),
 ('Bedir Hartvigsen',),
 ('Sham Eastman',),
 ('Yishai Cannane',),
 ('Baocai Lieblein',),
 ('Dmitri Pearson',),
 ('Marek Luck',),
 ('Xuejun Hempstead',),
 ('Isaac Schwartzbauer',),
 ('Lubomir Nitsch',),
 ('Barton Jumpertz',),
 ('Stabislas Delgrange',),
 ('Moty Kusakari',),
 ('Hercules Benzmuller',),
 ('Kauko Birjandi',),
 ('Masali Murrill',),
 ('Zhonghui Preusig',),
 ('Saddek Gopalakrishnan',),
 ('Marie Pietracaprina',),
 ('Selwyn Perri',),
 ('Shay Poulakidas',),
 ('Yongmao Pleszkun',),
 ('Dipayan Seghrouchni',),
 ('Yucel Ghelli',),
 ('Mihalis Avouris',),
 ('Rutger Miara',),
 ('Kristine Velardi',),
 ('Petter Lorho',),
 ('Narain Oaver',),
 ('Dietrich DuCasse',),
 ('Ipke Stentiford',),
 ('Tadahiko Ulupinar',),
 ('Lucien Staudhammer',),
 ('Faiza Baer',),
 ('Marlo Zschoche',),
 ('Bernt Erie',),
 ('Hirochika Piancastelli',),
 ('Heng Kilgour',),
 ('Nikolaos Leaver',),
 ('Dzung Holburn',),
 ('Prodip Schusler',),
 ('Aksel Alencar',),
 ('Hsiangchu Molenkamp',),
 ('Rasiah Deyuan',),
 ('Subbu Riexinger',),
 ('Christfried Apsitis',),
 ('Maris Angelopoulos',),
 ('Christoper Schwaller',),
 ('Arie Birge',),
 ('Mototsugu Beilner',),
 ('Mechthild Miyakawa',),
 ('Uinam Stasinski',),
 ('Guenter Ravishankar',),
 ('Isamu Dahlbom',),
 ('Kankanahalli Hinsberger',),
 ('Bernardo Rouquie',),
 ('Arunachalam Badr',),
 ('Masali Czap',),
 ('Roded Facello',),
 ('Serenella Kawashima',),
 ('Remko Shigei',),
 ('Kasturi Bellmore',),
 ('Arto Binkley',),
 ('Masanao Bain',),
 ('Snehasis Dymetman',),
 ('Falguni Erie',),
 ('Toshimori Bahi',),
 ('Goa Rothe',),
 ('Jeong Sadowsky',),
 ('Heon Ranai',),
 ('Teunis Liedekerke',),
 ('Djelloul Laventhal',),
 ('Wilmer Greenaway',),
 ('Stella Hiroyama',),
 ('Dinah Syrzycki',),
 ('Uwe Garnier',),
 ('Arra Ratnakar',),
 ('Aamod Radwan',),
 ('Pradeep Kaminger',),
 ('Mahendra Picco',),
 ('Oksana Brodie',),
 ('Kristen Kavvadias',),
 ('Tadahiko Strehl',),
 ('Erzsebet Ohori',),
 ('Phule Hammerschmidt',),
 ('Moto Kusakari',),
 ('Satyanarayana Cochrane',),
 ('Vasilis Standera',),
 ('Hausi Sidhu',),
 ('Qunsheng Tagansky',),
 ('Heekeun Sambasivam',),
 ('Irene Munck',),
 ('Seshu Sidou',),
 ('Shalesh dAstous',),
 ('Toshiki Muniz',),
 ('Nakhoon Dengi',),
 ('Rosine Granlund',),
 ('Morrie Piazza',),
 ('Hyuckchul Gini',),
 ('Hatim Koshiba',),
 ('Qunsheng Toyoshima',),
 ('Clyde Fandrianto',),
 ('Ioana Kirkerud',),
 ('Anneli Frijda',),
 ('Hongzue Heijenga',),
 ('Willard Rosin',),
 ('Dante Kalafatis',),
 ('Fai Bale',),
 ('Marl Grospietsch',),
 ('Takahira Lichtner',),
 ('Mikhail Rosis',),
 ('Alejandro Kamble',),
 ('Jiong Parfitt',),
 ('Shirish Dredge',),
 ('Leucio Aumann',),
 ('Feiyu Luft',),
 ('Khatoun Imataki',),
 ('Eishiro Miyakawa',),
 ('Parto Wrigley',),
 ('Hironoby Kaiser',),
 ('Make Peir',),
 ('Wanqing Bratten',),
 ('Hongzue Akaboshi',),
 ('Jiann Hainaut',),
 ('Yagil DasSarma',),
 ('Shawna Meriste',),
 ('Takahiro Deverell',),
 ('Sibyl Rahier',),
 ('Irena Reutenauer',),
 ('Shooichi Escriba',),
 ('Guenter Marchegay',),
 ('Ortrud Nitto',),
 ('Eckart Barriga',),
 ('Volkmar Ebeling',),
 ('Atreyi Mungall',),
 ('Prodip Rosti',),
 ('Hilary Budinsky',),
 ('Sigeru Wynblatt',),
 ('Ulf Siepmann',),
 ('Martijn Kaiser',),
 ('Mario Straney',),
 ('Takahito Gecsei',),
 ('Lidong Klerer',),
 ('Masoud Fabrizio',),
 ('Danel Impagliazzo',),
 ('Yinlin Alpin',),
 ('Mark Coorg',),
 ('Uli Keustermans',),
 ('Bingning Bakhtari',),
 ('Candida Porotnikoff',),
 ('Maria Bauknecht',),
 ('Kaijung Riesenhuber',),
 ('Divine Marzano',),
 ('Greger Rubsam',),
 ('Dante Cronin',),
 ('Babette Straney',),
 ('Sashi Osgood',),
 ('Arunas Luce',),
 ('Khosrow Sudbeck',),
 ('Cathie Brlek',),
 ('Martien Improta',),
 ('Ferdinand Chenney',),
 ('Patricio Bugrara',),
 ('Hisao Tiemann',),
 ('Reuven Dengi',),
 ('Dzung Peltason',),
 ('Marsha Tagansky',),
 ('Yahiko Lammel',),
 ('Narain Reeker',),
 ('Evgueni Srimani',),
 ('Jolita Jarecki',),
 ('Akeel Narahara',),
 ('Adel Perfilyeva',),
 ('Volkmar Unno',),
 ('Shichao Litvinov',),
 ('Kazuhira Rosis',),
 ('Junichi Kavanagh',),
 ('Ebru Chepyzhov',),
 ('Ronghao Yavatkar',),
 ('Phule Oxenboll',),
 ('Aleksandar Sudkamp',),
 ('Khun Harbusch',),
 ('Bodh Ranta',),
 ('Werner Hasham',),
 ('Tsvetan Matzel',),
 ('Wonhee Badr',),
 ('Sverrir Streng',),
 ('Stepehn Hardjono',),
 ('Oddvar Schlenzig',),
 ('Gina Engelmann',),
 ('Ennio Trogemann',),
 ('Shushma VanScheik',),
 ('Gal Karcich',),
 ('Sumali Schlenzig',),
 ('Ung Zaiane',),
 ('Mang Maginnis',),
 ('Claudi Shackel',),
 ('Jiakeng Himler',),
 ('Dipayan Suomi',),
 ('Yoshimitsu Shobatake',),
 ('Munehiko Ananiadou',),
 ('Peternela Iwayama',),
 ('Jouko Yamaashi',),
 ('Salvador Lodder',),
 ('Przemyslawa Oskamp',),
 ('Kenton Garnham',),
 ('Mario Rodite',),
 ('Kokou Iisaka',),
 ('Guoxiang Trogemann',),
 ('Maik Ushiama',),
 ('Duro Coney',),
 ('Make Baba',),
 ('Yongmao Pintelas',),
 ('Goa Pleszkun',),
 ('Zhiwei Anick',),
 ('Nirmal Varley',),
 ('Teruyuki Sundgren',),
 ('Amstein Kossowski',),
 ('Perla Middleton',),
 ('Mihalis Heering',),
 ('Elvia Homond',),
 ('Huiqun Vuskovic',),
 ('Garnik Narahari',),
 ('Lobel Kumaresan',),
 ('Maris Haraldson',),
 ('Yakkov Servieres',),
 ('Anyuan Zhiwei',),
 ('Gretta Baig',),
 ('Pramod Rabehasaina',),
 ('Valter Cappelletti',),
 ('Maik Luft',),
 ('Vojin Narwekar',),
 ('Susuma Larfeldt',),
 ('Yonghoan Marshall',),
 ('Dannz Pell',),
 ('Xiong Varker',),
 ('Isamu Auria',),
 ('Kazuhisa Kroll',),
 ('Kasidit Belinskaya',),
 ('Kotesh Liedekerke',),
 ('Abdelwaheb Riesenhuber',),
 ('Keung Slobodova',),
 ('Khoa Marrevee',),
 ('Udi Gihr',),
 ('Yuichiro Schicker',),
 ('Tomofumi McClure',),
 ('Raimond Kirkerud',),
 ('Xiadong Luga',),
 ('Tiina Speek',),
 ('Marin Lanphier',),
 ('Yonghoan Alencar',),
 ('Jenwei Ecklund',),
 ('Kwangsub Setia',),
 ('Marke Cesareni',),
 ('Malu Skafidas',),
 ('Shigehiro Cincotta',),
 ('Yuchang Lunt',),
 ('Kwangho Theuretzbacher',),
 ('Tetsushi Barvinok',),
 ('Koichi Lakshmanan',),
 ('Ymte Yetto',),
 ('Boriana Coors',),
 ('Oguz Gimbel',),
 ('Mary Wossner',),
 ('Mohamadou Smailagic',),
 ('Dinah Bahl',),
 ('Shalesh Stroustrup',),
 ('Yechiam Sambasivam',),
 ('Stella Benzmuller',),
 ('Przemyslawa Falby',),
 ('Yucel Reinhard',),
 ('Martins Barriga',),
 ('Godehard Eiter',),
 ('Yannis Couchot',),
 ('Lein Lichtman',),
 ('Ishfaq Krzyzanowski',),
 ('Hauke dAstous',),
 ('Nechama Schapiro',),
 ('Snehasis Brobst',),
 ('Ramalingam Gunderson',),
 ('Beshir Kisuki',),
 ('Manton Leuchs',),
 ('Jeong Rijsenbrij',),
 ('Kazuhito Shiratori',),
 ('Rajmohan Wallrath',),
 ('Dines Gerlach',),
 ('Vitaly Picci',),
 ('JoAnna Taubman',),
 ('Sashi Karlin',),
 ('Hisao Famili',),
 ('Arumugam Comellas',),
 ('Yinlin Esteva',),
 ('Serge Joslin',),
 ('Shuky Pearson',),
 ('Mohit Spelt',),
 ('Jianhao Thisen',),
 ('Yishay Harnett',),
 ('Jianhui Zuberek',),
 ('Dietrich Journel',),
 ('Gao Poulakidas',),
 ('Sreenivas Bashian',),
 ('Alassane Morrin',),
 ('Fun Varman',),
 ('Cordelia Axelband',),
 ('Tetsushi Speel',),
 ('Salvador Olano',),
 ('Theirry Yeung',),
 ('Xiaoqiu Krychniak',),
 ('Ennio Schmiedel',),
 ('Shigeaki Shanbhogue',),
 ('Aiman Stentiford',),
 ('Christoper Rehfuss',),
 ('Odinaldo Prochazka',),
 ('Shmuel Juneja',),
 ('Prasadram Stille',),
 ('Mana Papastamatiou',),
 ('Sajjad Willoner',),
 ('Kirk Vuskovic',),
 ('Behnaam Srimani',),
 ('Shigeo Dulay',),
 ('Subbu Sanella',),
 ('Yongqiao Kalloufi',),
 ('Hidde Hettesheimer',),
 ('Almudena Alvarado',),
 ('Falguni Kenevan',),
 ('Kiyokazu Whitcomb',),
 ('Giri Undy',),
 ('Sanjit Coors',),
 ('Lucien Schaad',),
 ('Margo Gronowski',),
 ('Seshu Crelier',),
 ('Emran Rettelbach',),
 ('Barton Usdin',),
 ('Douadi Wossner',),
 ('Wayne Restivo',),
 ('Susanna Brizzi',),
 ('Moti Wixon',),
 ('Toshiki Marakhovsky',),
 ('Rosalyn Hambrick',),
 ('Adhemar Talmor',),
 ('Janche Zhang',),
 ('Irena Roccetti',),
 ('Karsten Blokdijk',),
 ('Gil Peroz',),
 ('Inderjeet Jansen',),
 ('Gila Ozeri',),
 ('Keung Delgrande',),
 ('Tommaso Marwedel',),
 ('Hidekazu Angel',),
 ('Ranga Yeung',),
 ('Vivian Kusakabe',),
 ('Marit Veeraraghavan',),
 ('Hinrich Siepmann',),
 ('Turgut Narlikar',),
 ('Aleksander Danlos',),
 ('Sham Gyorkos',),
 ('Leszek Petereit',),
 ('Danil Deverell',),
 ('Shigeu Itzfeldt',),
 ('Krisda Krogh',),
 ('Lalit Francisci',),
 ('Bezalel Katzenelson',),
 ('Inderjeet Chaudhuri',),
 ('Yoshimitsu Velardi',),
 ('Sorina Herber',),
 ('Nahid Chepyzhov',),
 ('Toney Angiulli',),
 ('Saeko Porotnikoff',),
 ('Heejo Frolund',),
 ('Jenwei Borovoy',),
 ('Pramod Erol',),
 ('Anneke Meszaros',),
 ('Guozhong Zucker',),
 ('Hirochika Narlikar',),
 ('Slavian Keirsey',),
 ('Pranas Benaini',),
 ('Fumiyo Esposito',),
 ('Uri Chorvat',),
 ('Tesuro Bahk',),
 ('Marlo Ratnaker',),
 ('Vitali Welham',),
 ('Hongzhu Chepyzhov',),
 ('Zijian Maginnis',),
 ('Danai Chachaty',),
 ('Otmar Feinberg',),
 ('Nahla Castellani',),
 ('Remko Dalton',),
 ('Sanjay Litzkow',),
 ('Juichirou Kitsuregawa',),
 ('Junsik Rijckaert',),
 ('Dinah Shackel',),
 ('Jouko Kolinko',),
 ('Ottavia Giarratana',),
 ('Arto Serra',),
 ('Teunis Noriega',),
 ('Xumin Peck',),
 ('Qingxiang Snyers',),
 ('Zhonghua Reeker',),
 ('Makato Cusworth',),
 ('Maren Granlund',),
 ('Yurij Iisaka',),
 ('Shunichi McAffer',),
 ('Parviz Rebaine',),
 ('Bluma Zeilberger',),
 ('Hyuckchul Casperson',),
 ('Abdelaziz Bisiani',),
 ('Ymte Waschkowski',),
 ('Valeri Danley',),
 ('Alejandra Perng',),
 ('Chriss Gide',),
 ('Neven Brender',),
 ('Kish Honglei',),
 ('Florina Garnier',),
 ('Bedir Haumacher',),
 ('Guiseppe Stranks',),
 ('Aimee Tokunaga',),
 ('Zongyan Cusworth',),
 ('Avishai Azadmanesh',),
 ('Leon Kaiser',),
 ('Xiaopeng Lanphier',),
 ('Satoru Otillio',),
 ('Matt Jumpertz',),
 ('Denny Setia',),
 ('Larisa Bage',),
 ('Berhard Daescu',),
 ('Rildo Straney',),
 ('Zorica Acton',),
 ('Unal Fendler',),
 ('Bluma Hiltgen',),
 ('Barton Engberts',),
 ('Hatim Deverell',),
 ('Angel Mondadori',),
 ('Hyuncheol Zolotykh',),
 ('Bader Szemeredi',),
 ('Giri Baumann',),
 ('Yolla Kropatsch',),
 ('Hironobu Wynblatt',),
 ('Gonzalo Eldridge',),
 ('Moty Trystram',),
 ('Aral Erman',),
 ('Jiafu Mateescu',),
 ('Sorina Kermarrec',),
 ('Arvind DuBourdieux',),
 ('Uma Koprowski',),
 ('Jagoda Naumovich',),
 ('Aran Sadowsky',),
 ('Goa Poehlman',),
 ('Aiman Constantine',),
 ('Serap Tasistro',),
 ('Adib Rullman',),
 ('Guenter Karunanithi',),
 ('Odinaldo Kruskal',),
 ('Bernd Redmiles',),
 ('Dung Gornas',),
 ('Eckart Harnett',),
 ('Aluzio Narlikar',),
 ('Garnet Isard',),
 ('Zita Minakawa',),
 ('Saeed Kitai',),
 ('Ugo Maliniak',),
 ('Percy Lorho',),
 ('Mohit Janetzko',),
 ('Fumitaka Peak',),
 ('Morris Andreotta',),
 ('Sangeeta Rodham',),
 ('Sachar Erdi',),
 ('Morrie Gewali',),
 ('Gurbir Hellwagner',),
 ('Vincent Schwartzbauer',),
 ('Rosita Oppitz',),
 ('Gor Iacovou',),
 ('Suzette Sadowski',),
 ('Sven Huttel',),
 ('Shim Wiegley',),
 ('Kiyomitsu Peltason',),
 ('Yaghout Syang',),
 ('Poorav Ranze',),
 ('Kolar Usery',),
 ('Falguni Khalid',),
 ('Yuchang Francisci',),
 ('King Brendel',),
 ('Roddy Demeyer',),
 ('Jordanka Ushiama',),
 ('Byong Conde',),
 ('Pradeep Harbusch',),
 ('Chenyi Feinberg',),
 ('Odysseas Ressouche',),
 ('Paddy Brizzi',),
 ('Florina Simkin',),
 ('Fumiyo Boyle',),
 ('JiYoung Chenney',),
 ('Phillip Dratva',),
 ('Sumali Liedekerke',),
 ('Lech Himler',),
 ('Giap Bolsens',),
 ('Yunming Beetstra',),
 ('Goetz Norsworthy',),
 ('Nathalie Standera',),
 ('Monique Doering',),
 ('Ishfaq Candan',),
 ('Vishv Bouloucos',),
 ('Bedir Perry',),
 ('Guiseppe Kleiser',),
 ('Munehiro Dayana',),
 ('Avishai Bahr',),
 ('Jacqueline Masand',),
 ('Xiaoheng Sluis',),
 ('Mahmut Skafidas',),
 ('Mizuhito Kemmerer',),
 ('Selwyn Merey',),
 ('Mori Yavatkar',),
 ('Goncalo Staudhammer',),
 ('Patricio Leuchs',),
 ('Kish Perna',),
 ('Moty Kenevan',),
 ('Weijing Bottner',),
 ('Keiichiro Marzano',),
 ('Patricia dAstous',),
 ('Shiv Neimat',),
 ('Frazer Ullian',),
 ('Aruna Journel',),
 ('Yurij Schonegge',),
 ('Tadahiko Sgarro',),
 ('Chinya Birdsall',),
 ('Oksana Roisin',),
 ('Teunis Berztiss',),
 ('Supot Naudin',),
 ('Khoa Rousseau',),
 ('Goetz Hiyoshi',),
 ('Elliott Bednarek',),
 ('Gad Griswold',),
 ('Yuchang Matzke',),
 ('Uinam Zschoche',),
 ('Masato Setlzner',),
 ('Katsuyuki Velasco',),
 ('Terresa Benantar',),
 ('Kerhong Bernick',),
 ('Giap Matzel',),
 ('Munehiro Zallocco',),
 ('Chenxi Leijenhorst',),
 ('Shim Feldhoffer',),
 ('Lijie Lunn',),
 ('Ashish Fortenbacher',),
 ('Berthier Menhoudj',),
 ('Shalesh Shumilov',),
 ('Nidapan Dymetman',),
 ('Renny Pramanik',),
 ('Morris Caine',),
 ('Uri Rullman',),
 ('Huan Monarch',),
 ('Pascal Sooriamurthi',),
 ('Baocai Pena',),
 ('Irena Schurmann',),
 ('Masaru Passino',),
 ('Arfst Mikschl',),
 ('Kirk Kalsbeek',),
 ('Fan Fairtlough',),
 ('Arnd Anandan',),
 ('Willard Danley',),
 ('Godehard Gammage',),
 ('Alper Narahara',),
 ('Fen Fiebach',),
 ('Toong Driscoll',),
 ('Hidde Bergere',),
 ('Krisda Gecseg',),
 ('Huiqun Rajcani',),
 ('Tomoyuki Kermarrec',),
 ('Jianhua Leivant',),
 ('Chuanti Karlin',),
 ('Deniz Ramras',),
 ('Gurbir Katiyar',),
 ('Mohammad Koshino',),
 ('Pranav Lieberherr',),
 ('Berni Sanella',),
 ('Honesty Smeets',),
 ('Dipayan Koprowski',),
 ('Hidde Tasistro',),
 ('Tokuyasu Serre',),
 ('Theirry Danley',),
 ('Fen Bratsberg',),
 ('Makato Mayerwieser',),
 ('Florina Schapire',),
 ('Piyawadee Copas',),
 ('Hercules Munck',),
 ('Yoshinari Kalloufi',),
 ('Jagoda Nannarelli',),
 ('Kwangho Reinhart',),
 ('Sreenivas Peck',),
 ('Fusako Stenning',),
 ('Kenroku Gonthier',),
 ('King Bernini',),
 ('Gino Werthner',),
 ('Howell Baek',),
 ('Zhenbing Kadhim',),
 ('Byong Bhattacharjee',),
 ('Elliott Spieker',),
 ('Danco Etalle',),
 ('Fayez Yeung',),
 ('Billur Gyorkos',),
 ('Houman Unno',),
 ('Guangming Jonsson',),
 ('Shahid Leppanen',),
 ('Aram Gilg',),
 ('Karoline Speel',),
 ('Sukumar Wegerle',),
 ('Mahmut Borstler',),
 ('Filipp Suri',),
 ('Vincent Papastamatiou',),
 ('Subir Biron',),
 ('Lakshmi Deville',),
 ('Muzhong Chleq',),
 ('Weiye Nitsche',),
 ('Katsuo Miake',),
 ('Fun Heuser',),
 ('Shimshon Champarnaud',),
 ('Teunis Kleiser',),
 ('Rayond Cronau',),
 ('Sushant Begiun',),
 ('Lunjin DeMori',),
 ('Kwangho Dredge',),
 ('Cheong Coors',),
 ('Ramzi Furudate',),

### Find all employees who are also managers

In [6]:
%%sql
SELECT e.emp_no
FROM employees AS e
JOIN dept_manager AS m ON e.emp_no = m.emp_no

 * mysql+pymysql://miguel:***@localhost:3306/employees
24 rows affected.

[(110022,),
 (110039,),
 (110085,),
 (110114,),
 (110183,),
 (110228,),
 (110303,),
 (110344,),
 (110386,),
 (110420,),
 (110511,),
 (110567,),
 (110725,),
 (110765,),
 (110800,),
 (110854,),
 (111035,),
 (111133,),
 (111400,),
 (111534,),
 (111692,),
 (111784,),
 (111877,),
 (111939,)]

### Find the 5th highest salary

Let's first see the top 10 salaries.

In [7]:
%%sql
SELECT salary
FROM salaries
ORDER BY salary DESC
LIMIT 10

 * mysql+pymysql://miguel:***@localhost:3306/employees
10 rows affected.

[(158220,),
 (157821,),
 (156286,),
 (155709,),
 (155513,),
 (155377,),
 (155190,),
 (154888,),
 (154885,),
 (154459,)]

In [8]:
%%sql
SELECT salary
FROM salaries
ORDER BY salary DESC
LIMIT 1
OFFSET 4

 * mysql+pymysql://miguel:***@localhost:3306/employees
1 rows affected.

[(155513,)]

### Find duplicate rows in the employees table
Since this table doesn't have exact duplicates, let's find rows for the same employee and birth date.

In [9]:
%%sql
SELECT
    first_name,
    last_name,
    birth_date,
    COUNT(*)
FROM employees
GROUP BY
    first_name,
    last_name,
    birth_date
HAVING COUNT(*) > 1

 * mysql+pymysql://miguel:***@localhost:3306/employees
6 rows affected.

[('Sarita', 'Ghalwash', datetime.date(1963, 12, 8), 2),
 ('Holgard', 'Negoita', datetime.date(1963, 7, 19), 2),
 ('Pragnesh', 'Acton', datetime.date(1958, 5, 12), 2),
 ('Shim', 'Gide', datetime.date(1963, 7, 10), 2),
 ('Tonny', 'Cromarty', datetime.date(1963, 5, 7), 2),
 ('Pintsang', 'Granlund', datetime.date(1956, 11, 25), 2)]

### Show unique job titles per department

In [10]:
%%sql
SELECT DISTINCT
    dept_name,
    title
FROM employees AS e
JOIN titles AS t ON e.emp_no = t.emp_no
JOIN dept_emp AS de ON e.emp_no = de.emp_no
JOIN departments AS d ON de.dept_no = d.dept_no

 * mysql+pymysql://miguel:***@localhost:3306/employees
45 rows affected.

[('Customer Service', 'Staff'),
 ('Customer Service', 'Senior Staff'),
 ('Customer Service', 'Engineer'),
 ('Customer Service', 'Senior Engineer'),
 ('Customer Service', 'Assistant Engineer'),
 ('Customer Service', 'Technique Leader'),
 ('Customer Service', 'Manager'),
 ('Development', 'Senior Engineer'),
 ('Development', 'Assistant Engineer'),
 ('Development', 'Engineer'),
 ('Development', 'Technique Leader'),
 ('Development', 'Senior Staff'),
 ('Development', 'Staff'),
 ('Development', 'Manager'),
 ('Finance', 'Senior Staff'),
 ('Finance', 'Staff'),
 ('Finance', 'Manager'),
 ('Human Resources', 'Senior Staff'),
 ('Human Resources', 'Staff'),
 ('Human Resources', 'Manager'),
 ('Marketing', 'Senior Staff'),
 ('Marketing', 'Staff'),
 ('Marketing', 'Manager'),
 ('Production', 'Senior Engineer'),
 ('Production', 'Engineer'),
 ('Production', 'Assistant Engineer'),
 ('Production', 'Technique Leader'),
 ('Production', 'Senior Staff'),
 ('Production', 'Staff'),
 ('Production', 'Manager'),
 ('Quality Management', 'Assistant Engineer'),
 ('Quality Management', 'Engineer'),
 ('Quality Management', 'Senior Engineer'),
 ('Quality Management', 'Technique Leader'),
 ('Quality Management', 'Manager'),
 ('Research', 'Senior Staff'),
 ('Research', 'Staff'),
 ('Research', 'Engineer'),
 ('Research', 'Senior Engineer'),
 ('Research', 'Technique Leader'),
 ('Research', 'Assistant Engineer'),
 ('Research', 'Manager'),
 ('Sales', 'Staff'),
 ('Sales', 'Senior Staff'),
 ('Sales', 'Manager')]

## Aggregating

### Show the average salaries per job title
Order by average salary (descending)

In [11]:
%%sql
SELECT 
    title,
    ROUND(AVG(salary), 0) AS avg_salary
FROM titles AS t
JOIN salaries AS s ON t.emp_no = s.emp_no
GROUP BY title
ORDER BY avg_salary DESC

 * mysql+pymysql://miguel:***@localhost:3306/employees
7 rows affected.

[('Senior Staff', Decimal('70471')),
 ('Staff', Decimal('69309')),
 ('Manager', Decimal('66924')),
 ('Senior Engineer', Decimal('60543')),
 ('Engineer', Decimal('59508')),
 ('Assistant Engineer', Decimal('59305')),
 ('Technique Leader', Decimal('59294'))]

### Show the total number of employees per job title and the percentage of the total per title
Order by employee count (descending)

Using a Common Table Expression:

In [12]:
%%sql
WITH salary_cte
AS (
    SELECT 
    title,
    COUNT(*) AS emp_count
    FROM titles
    GROUP BY title
)
SELECT 
    title,
    emp_count,
    (emp_count / (SELECT COUNT(*) FROM titles) * 100) AS percent_of_total
FROM salary_cte
ORDER BY emp_count DESC

 * mysql+pymysql://miguel:***@localhost:3306/employees
7 rows affected.

[('Engineer', 115003, Decimal('25.9420')),
 ('Staff', 107391, Decimal('24.2249')),
 ('Senior Engineer', 97750, Decimal('22.0501')),
 ('Senior Staff', 92853, Decimal('20.9455')),
 ('Technique Leader', 15159, Decimal('3.4195')),
 ('Assistant Engineer', 15128, Decimal('3.4125')),
 ('Manager', 24, Decimal('0.0054'))]

Using a subquery:

In [13]:
%%sql
SELECT
    title,
    emp_count,
    (emp_count / (SELECT COUNT(*) FROM titles) * 100) AS percent_of_total
FROM (
SELECT 
    title,
    COUNT(*) AS emp_count
FROM titles
GROUP BY title
ORDER BY emp_count DESC
) a

 * mysql+pymysql://miguel:***@localhost:3306/employees
7 rows affected.

[('Engineer', 115003, Decimal('25.9420')),
 ('Staff', 107391, Decimal('24.2249')),
 ('Senior Engineer', 97750, Decimal('22.0501')),
 ('Senior Staff', 92853, Decimal('20.9455')),
 ('Technique Leader', 15159, Decimal('3.4195')),
 ('Assistant Engineer', 15128, Decimal('3.4125')),
 ('Manager', 24, Decimal('0.0054'))]

### Group employees into 3 salary groups
0-50k, 50-100k, >100k

First, let's see the max, min, and average salaries. This will give us an idea of how to group the salaries.

In [14]:
%%sql
SELECT
    MAX(salary),
    MIN(salary),
    AVG(salary)
FROM salaries

 * mysql+pymysql://miguel:***@localhost:3306/employees
1 rows affected.

[(158220, 38623, Decimal('63810.7448'))]

In [15]:
%%sql
SELECT
    CASE
        WHEN salary < 50000 THEN '0-50k'
        WHEN salary > 100000 THEN '> 100k'
        ELSE '50k-100k'
    END AS salary_group,
    COUNT(*) AS emp_count
FROM salaries
GROUP BY salary_group
ORDER BY emp_count DESC

 * mysql+pymysql://miguel:***@localhost:3306/employees
3 rows affected.

[('50k-100k', 2071823), ('0-50k', 677528), ('> 100k', 94696)]

## Joining

### Show all employees and include their employee id, full names, job titles, and the department name
It might be good to also include the from_date and to_date from the salaries table.

In [16]:
%%sql
SELECT
    e.emp_no,
    CONCAT(first_name, ' ', last_name) AS emp_name,
    t.title,
    d.dept_name,
    s.from_date,
    s.to_date,
    s.salary
FROM employees AS e
JOIN dept_emp AS de ON e.emp_no = de.emp_no
JOIN departments AS d ON de.dept_no = d.dept_no
JOIN titles AS t ON e.emp_no = t.emp_no
JOIN salaries AS s ON e.emp_no = s.emp_no
LIMIT 10

 * mysql+pymysql://miguel:***@localhost:3306/employees
10 rows affected.

[(10011, 'Mary Sluis', 'Staff', 'Customer Service', datetime.date(1990, 1, 22), datetime.date(1991, 1, 22), 42365),
 (10011, 'Mary Sluis', 'Staff', 'Customer Service', datetime.date(1991, 1, 22), datetime.date(1992, 1, 22), 44200),
 (10011, 'Mary Sluis', 'Staff', 'Customer Service', datetime.date(1992, 1, 22), datetime.date(1993, 1, 21), 48214),
 (10011, 'Mary Sluis', 'Staff', 'Customer Service', datetime.date(1993, 1, 21), datetime.date(1994, 1, 21), 50927),
 (10011, 'Mary Sluis', 'Staff', 'Customer Service', datetime.date(1994, 1, 21), datetime.date(1995, 1, 21), 51470),
 (10011, 'Mary Sluis', 'Staff', 'Customer Service', datetime.date(1995, 1, 21), datetime.date(1996, 1, 21), 54545),
 (10011, 'Mary Sluis', 'Staff', 'Customer Service', datetime.date(1996, 1, 21), datetime.date(1996, 11, 9), 56753),
 (10038, 'Huan Lortz', 'Senior Staff', 'Customer Service', datetime.date(1989, 9, 20), datetime.date(1990, 9, 20), 40000),
 (10038, 'Huan Lortz', 'Senior Staff', 'Customer Service', datetime.date(1990, 9, 20), datetime.date(1991, 9, 20), 43527),
 (10038, 'Huan Lortz', 'Senior Staff', 'Customer Service', datetime.date(1991, 9, 20), datetime.date(1992, 9, 19), 46509)]